<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BankJava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>bankDetails</display-name>
    <servlet-name>bankDetails</servlet-name>
    <servlet-class>bank.bankDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bankDetails</servlet-name>
    <url-pattern>/bankDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bankUpdate</display-name>
    <servlet-name>bankUpdate</servlet-name>
    <servlet-class>bank.bankUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bankUpdate</servlet-name>
    <url-pattern>/bankUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bankTransfer</display-name>
    <servlet-name>bankTransfer</servlet-name>
    <servlet-class>bank.bankTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bankTransfer</servlet-name>
    <url-pattern>/bankTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cusDetails</display-name>
    <servlet-name>cusDetails</servlet-name>
    <servlet-class>bank.cusDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cusDetails</servlet-name>
    <url-pattern>/cusDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transferData</display-name>
    <servlet-name>transferData</servlet-name>
    <servlet-class>bank.transferData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transferData</servlet-name>
    <url-pattern>/transferData</url-pattern>
  </servlet-mapping>
</web-app>